html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* font-family: 'Raleway', sans-serif; */


body {
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.header {
  background-image: linear-gradient(rgba(49, 49, 49, 0.774), rgba(51, 51, 51, 0)), url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.header__top-inner {
  padding-top: 35px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 15%;
}

.menu__list {
  display: flex;
}

.menu__list-link {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all .3s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #00B2A0;
}

.menu__list-item + .menu__list-item {
  margin-left: 45px;
}

.header__title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 200px;
  line-height: 235px;
  color: #0D302C;
  margin-top: auto;
}

.header__text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: auto;
  padding-bottom: 100px;
}

.header__content-inner {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header__content-link {
  margin-bottom: 80px;
}

.title__wrapper {
  text-align: center;
  padding-top: 190px;
  padding-bottom: 100px;
}

.title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #01353E;
  position: relative;
  text-transform: uppercase;
}

.title::after {
  position: absolute;
  content: '/';
  color: #00B2A0;
  font-size: 52px;
  top: 10px;
}

.about__text {
  display: flex;
  margin-bottom: 200px;
}

.about__text-column {
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about__text-column + .about__text-column {
  margin-left: 120px;
}

.conditions {
  background: #F8F8F8;
}

.conditions__item-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
  padding-left: 120px;
  margin: 0 auto 30px;
}

.conditions__items {
  display: flex;
  align-items: center;
  padding-bottom: 105px;
}

.conditions__item + .conditions__item {
  margin-left: 74px;
}

.conditions__item {
  width: 350px;
  position: relative;
}

.conditions__item::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 50px;
  top: 0;
  left: 40px;
}


.conditions__item-sun::before {
  background-image: url("../images/sun.png");
}

.conditions__item-plane::before {
  background-image: url("../images/plane.png");
}

.conditions__item-surf::before {
  background-image: url("../images/surf.png");
}

.conditions__inner {
  display: flex;
  justify-content: space-between;
}

.conditions__info {
  max-width: 350px;
  margin-right: 254px;
  flex: none;
}

.conditions__info-item {
  display:flex;
  align-items: center;
}

.conditions__info-item span{
  padding-right: 10px;
  right: 0;
  top: 0;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 18px;
  color: #242121;
}

.conditions__info p {
  margin-bottom: 10px;
}

.conditions__text {
  width: 600px;
  margin-bottom: 200px;
}

.conditions__text p {
  margin-bottom: 30px;
}
